.cart{
    display: flex;
    flex-wrap: wrap;
}

.cart-select{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    gap: 30px;
    border: solid rgb(0, 0, 0) 3px;
    border-radius: 4px;
    padding: 20px;
    margin: 50px;
}

.delete-btn{
    padding: 10px;
}

.total{
    margin: 50px;
    padding: 20px;
}

.buy-btn {
    margin: 20px;
    padding: 10px;
}