.cartWidget {
    border: none;
    background-color: green;
    margin: 20px;
    cursor: pointer;
    position: relative;
}

.counter{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: red;
    bottom: -10px;
    right: -10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}