.cartWidget {
    border: none;
    background-color: rgb(18, 4, 6);
    margin: 20px;
    cursor: pointer;
    position: relative;
}

.counter{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    bottom: -10px;
    right: -12px;
    border-radius: 50%;
    width: 30px;
    height: 20px;
}