.productDetail{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 30px;
    border: solid green 3px;
    border-radius: 4px;
    padding: 20px;
    margin: 50px;
}

.btn-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 10px
}

button{
    cursor: pointer;
}