.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
}

ul{
    display: flex;
    padding: 20px;
    gap:30px
}

li{
    color: black;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    font-weight: bolder;
}