.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
}

ul{
    display: flex;
    padding: 20px;
    gap:50px

}

li{
    font-size: 40px;
    font-weight: bolder;
    
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}