.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    display: flex;
    width: 500px;
}

form {
    margin-top: 30px;
    margin-left: 100px;
}

label {
    display: flex;
    margin: 10px;
    font-weight: bold;
    font-size: larger;
}

input {
    display: block;
    width: 300px;
    height: 30px;

    &:focus {
        background-color: rgb(255, 226, 99);
    }
}